@import '../../theme/styles/variables';

.logotype-container {
  position: relative;
  height: 50vh;
}

.logotype-img {
  position: absolute;
  right: calc((100% - 288px)/2);
  bottom: 0;
  width: $logo-size-xs;
}


@media screen and (min-width: $sm-size) {
  .logotype-img {
    position: absolute;
    right: calc((100% - 426px)/2);
    bottom: 0;
    width: $logo-size-sm;
  }
}

@media screen and (min-width: $md-size) {
  .logotype-container {
    width: 50vw;
    height: 100vh;
  }

  .logotype-img {
    position: absolute;
    right: 0;
    bottom: calc((100% - 335px)/2);
    width: $logo-size-md;
    --height: calc(var($logo-size-md) * .6);
    height: var(--height);
  }
}

@media screen and (min-width: $lg-size) {
  .logotype-img {
    bottom: calc((100% - 390px)/2);
    width: $logo-size-lg;
    --height: calc(var($logo-size-lg) * .6);
    height: var(--height);
  }
}

@media screen and (min-width: $xl-size) {
  .logotype-img {
    bottom: calc((100% - 500px)/2);
    width: $logo-size-xl;
    --height: calc(var($logo-size-xl) * .6);
    height: var(--height);
  }
}