@import '../../theme/styles/variables';

.logotype-container {
  position: relative;
  height: 50vh;
}

.logotype-img {
  position: absolute;
  right: calc((100% - 288px)/2);
  bottom: 0;
  width: 288px;
}

@media screen and (min-width: $m-size) {
  .logotype-container {
    width: 50vw;
    height: 50vh;
  }

  .logotype-img {
    position: absolute;
    right: calc((100% - 624px)/2);
    bottom: calc((100% - 367px)/2);
    width: 624px;
    height: 367px;
  }
}