@import '../../theme/styles/variables';

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, $white-100 50%, $orange-5 50%)
}

@media screen and (min-width: $md-size) {
  .page-wrapper {
    flex-direction: row;
  }
}