@import '../../theme/styles/variables';

.greetings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: calc(50vh - 48px * 2);
  padding: 48px 16px;
  text-align: center;
}

.greetings-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 37px;
}

.results-text {
  color: $black-100;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  opacity: .5;
}

@media screen and (min-width: $sm-size) {
  .greetings-text {
    font-size: 44px;
    line-height: 51px;
  }

  .results-text {
    font-size: 25px;
    line-height: 29px;
  }
}

@media screen and (min-width: $md-size) {
  .greetings-container {
    align-items: start;
    justify-content: space-evenly;
    width: 50vw;
    padding: 0 8px 0 0;
    text-align: left;
  }

  .greetings-text {
    font-size: 56px;
    line-height: 65px;
  }

  .results-text {
    font-size: 32px;
    line-height: 37px;
  }
}

@media screen and (min-width: $lg-size) {
  .greetings-text {
    font-size: 68px;
    line-height: 78px;
  }

  .results-text {
    font-size: 39px;
    line-height: 45px;
  }
}

@media screen and (min-width: $xl-size) {
  .greetings-text {
    font-size: 80px;
    line-height: 92px;
  }

  .results-text {
    font-size: 46px;
    line-height: 53px;
  }
}